/* For standard array */
table {
    width: 100%;
}

td,
th {
    border: 2px solid gray;
    text-align: left;
    padding-top: 5px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.scroll-box-1 {
    overflow-x: scroll;
}

.scroll-box-2 {
    overflow-x: scroll;
    overflow-y: auto;
    height: 270px;
}

.text-inp {
    height: 2.5em;
    width: 5em;
    border: solid black;
    border-radius: 0.5em;
    background-color: #fff;
    font-size: 1.25em;
    color: blue;
    text-align: center;
}

#observations1,
#observations2 {
    font-size: 1.25em;
}